@using prjFacebook.Models
<!-- 動態牆 -->
<div class="max-w-[744px] w-full mx-auto px-4">
  <!-- 限時動態 -->
  <div class="relative">
    <div class="flex overflow-x-auto no-scrollbar">
      <div class="flex-1 px-[4px] min-w-[120px] cursor-pointer">
        <div class="h-full flex flex-col">
          <div class="h-full overflow-hidden">
            <img class="object-cover w-full h-full duration-500 hover:scale-105" src="https://bruce-fe-fb.web.app/image/avator.png" alt=""/>
          </div>
          <div class="bg-fb-card pt-6 px-2 pb-2 relative">
            <button class="w-[32px] h-[32px] p-2 absolute -top-4 left-[calc(50%-16px)] bg-fb rounded-full focus:outline-none ring-fb-card ring flex justify-center items-center">
              <img src="https://bruce-fe-fb.web.app/image/plus.svg" alt=""/>
            </button>
            <p class="w-full text-center text-white">建立限時動態</p>
          </div>
        </div>
      </div>

      @foreach (var person in Persons)
      {
        <div class="flex-1 px-[4px] min-w-[120px] cursor-pointer">
         <div class="relative overflow-hidden">
           <div @onmouseover="@Mouse_Over" class="hidden absolute w-full h-full top-0 left-0 bg-black/20 z-20"></div>
           <div class="w-[32px] h-[32px] absolute top-4 left-4 ring-4 ring-fb bg-fb-card rounded-full flex justify-center items-center z-30">
             <p class="text-white text-sm">@person.name.Substring(0,1)</p>
           </div>
           <div class="absolute w-full h-full top-0 left-0 bg-gradient-to-b from-black/30 to-transparent z-20"></div>
           <img class="w-full h-full duration-200" src="https://bruce-fe-fb.web.app/image/story.png" />
           <p class="absolute bottom-2 left-2 text-white">@person.name</p>
         </div>
       </div>
      }
    </div>
    <button class="absolute popover-btn -right-3 top-[calc(50%-22.5px)] z-10 w-[45px] h-[45px]">
      <img src="https://bruce-fe-fb.web.app/image/right-arrow.svg" alt=""/>
    </button>
  </div>
</div>

@code {
  public List<Person> Persons { get; set; } = new List<Person>();

  protected override void OnInitialized()
  {
    Persons = new List<Person>()
    {
      new Person { name = "東方不敗" },
      new Person { name = "任我行" },
      new Person { name = "向問天" },
      new Person { name = "左冷禪" },
      new Person { name = "丁春秋" },
    };
  }
  
  protected void Mouse_Over(MouseEventArgs e)
  {
    Console.WriteLine("test");
  }
}
