<header class="w-full h-[58px] bg-fb-header fixed top-0 left-0 right-0 flex items-center justify-between px-4 z-20">
    <!-- header left -->
    <div class="flex items-center">
      <Logo></Logo>
      <Search></Search>
    </div>
    <Menu></Menu>
</header>


@code {
    
}